<div class="chanukiaContainer">
  <div class="candleContainer"><app-candle [light]="lightsArr[0]" [class]="lightsArr[0]"></app-candle></div>
  <div class="candleContainer"><app-candle [light]="lightsArr[1]" [class]="lightsArr[1]"></app-candle></div>
  <div class="candleContainer"><app-candle [light]="lightsArr[2]" [class]="lightsArr[2]"></app-candle></div>
  <div class="candleContainer"><app-candle [light]="lightsArr[3]" [class]="lightsArr[3]"></app-candle></div>
  <app-shamash></app-shamash>
  <div class="candleContainer"><app-candle [light]="lightsArr[4]" [class]="lightsArr[4]"></app-candle></div>
  <div class="candleContainer"><app-candle [light]="lightsArr[5]" [class]="lightsArr[5]"></app-candle></div>
  <div class="candleContainer"><app-candle [light]="lightsArr[6]" [class]="lightsArr[6]"></app-candle></div>
  <div class="candleContainer"><app-candle [light]="lightsArr[7]" [class]="lightsArr[7]"></app-candle></div>
</div>
